# MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=sensor_db
MYSQL_USER=sensor_user
MYSQL_PASSWORD=sensor_pass

# API / Banco
DB_HOST=mysql
DB_PORT=3306
DB_NAME=sensor_db
DB_USER=sensor_user
DB_PASSWORD=sensor_pass

# API
API_PORT=4000
DEVICE_API_KEY=troque-essa-chave